
<html>
    <head>
        <TITLE>Dashboard</TITLE>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class='container'>
            <div class='row'>
                <div class='col-4'>
                        <h1>New Dojo</h1>
                        <% flash.each do |key, value| %>
                            <%= content_tag :div, value, class: "flash #{key}" %>
                        <% end %>
                        <form class='form-group' action="/dojos/create" method='post'>
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <tr>
                                <td>Branch:</td>
                                <td><input class="form-control" type='text' name='dojo[branch]'></td>
                            </tr>
                            <tr>
                                <td>Street:</td>
                                <td><input class="form-control" type='text' name='dojo[street]'></td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td><input class="form-control" type='text' name='dojo[city]'></td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td><input class="form-control" type='text' name='dojo[state]'></td>
                            </tr>
                            <tr>
                                <td colspan='2'><input class='my-3' type='submit' value='SUBMIT'></td>
                            </tr>
                        </form>
                        <p class='text-right'> <a href='/'>Home</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
