<h1>Submitted Info</h1>
<p>Name: <%= @user.name %></p>
<p>Dojo Location: <%= @user.dojo_loc %></p>
<p>Favorite Language: <%= @user.fav_lang %></p>
<p>Comment: <%= @user.comment %></p>

<a type='button' href='/logout'>Go Back</a>